
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff") format("woff");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff") format("woff");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff") format("woff");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Black.woff") format("woff");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: "Bebasneuecyrillic";
  src: url("../fonts/bebasneue/bebasneueregular.woff") format("woff");
  src: url("../fonts/bebasneue/BebasNeueCyrillicRegular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

main {
  font-family: "HelveticaNeue";
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  main  {
    max-width: 768px;
  }
}
@media (max-width: 320px) {
  main {
    max-width: 320px;
  }
}

.main__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 93px auto 0 auto;
  font-family: "HelveticaNeue";
  font-weight: 500;
  font-size: 37px;
  line-height: 44px;
}

@media (max-width: 768px) {
  .main__title  {
    margin: 44px 0 0 0;
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 320px) {
  .main__title {
    width: 257px;
    margin: 42px 0 0 0;
    font-size: 16px;
    line-height: 19px;
  }
}

.main__product-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 11px;
  margin: 85px 0 0 0;
  box-sizing: border-box;
}
@media (max-width: 1107px) and (min-width: 769px) {
  .main__product-list  {
    width: 600px;
    margin: 85px auto 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 11px;
  }
}
@media (max-width: 768px) {
  .main__product-list  {
    margin: 53px 0 0 0;
    grid-column-gap: 19px;
  }
}
@media (max-width: 700px) and  (min-width: 321px) {
  .main__product-list  {
    width: 330px;
    margin: 53px auto 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 19px;
  }
}
@media (max-width: 320px) {
  .main__product-list {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    margin: 24px 0 0 0;
  }
}

.main__product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  max-width: 268px;
  height: 721px;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(72, 72, 72, 0.4);
  border-radius: 10px;
}

@media (max-width: 768px) and (min-width: 321px) {
  .main__product-item  {
    width: 155px;
    height: 489px;
    padding: 15px;
    border-radius: 5px;
  }
}

.course__title {
  text-align: center;
  margin: 8px 0 0 0;
  padding: 6px 0;
  font-family: "HelveticaNeue";
  font-weight: 500;
  font-size: 26px;
  line-height: 28px;
  color: #1B002F;
}

@media (max-width: 768px) and (min-width: 321px)  {
  .course__title  {
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
  }
}

.course__price {
  margin: 33px 0 0 0;
  font-family: "HelveticaNeue", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 54px;
  color: #1B002F;
}

@media (max-width: 768px) and (min-width: 321px)  {
  .course__price  {
    margin: 18px 0 0 0;
    font-size: 30px;
    line-height: 33px;
  }
}

.course__old-price {
  margin: 7px 0 0 0;
  font-family: "HelveticaNeue", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #A7ACBF;
  text-decoration-line: line-through;
  text-decoration-color: #FF2222;
}

@media (max-width: 768px) and (min-width: 321px)  {
  .course__old-price  {
    font-size: 18px;
    line-height: 20px;
  }
}

.course__discount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 135px;
  left: 172px;
  width: 69px;
  height: 37px;
  font-family: "HelveticaNeue";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: #E10000;
  border-radius: 5px;
}

@media (max-width: 768px) and (min-width: 321px)  {
  .course__discount  {
    top: 72px;
    left: 97px;
    width: 46px;
    height: 23px;
    font-size: 12px;
    line-height: 24px;
  }
}

.course__info-list {
  margin: 25px 0 0 0;
}

@media (max-width: 768px) and (min-width: 321px)  {
  .course__info-list  {
    margin: 13px 0 0 0;
    font-size: 12px;
    line-height: 24px;
  }
}

.course__item-info {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 10px 0 0 4px;
}

@media (max-width: 768px) and (min-width: 321px)  {
  .course__item-info  {
    margin: 10px 0 0 0;
  }
  .course__item-info-img {
    width: 5px;
  }
}

.course__item-info-text {
  margin: 0 0 0 15px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2A2A2A;
}

@media (max-width: 768px) and (min-width: 321px)  {
  .course__item-info-text  {
    margin: 0 0 0 6px;
    font-size: 8px;
    line-height: 10px;
  }
}

.text-bold {
  font-weight: 600;
  color: #1B002F;
}

.course__prepayment {
  margin: 30px 0 0 0;
  font-family: "HelveticaNeue";
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #A7ACBF;
}

@media (max-width: 768px) and (min-width: 321px)  {
  .course__prepayment  {
    margin: 18px 0 0 0;
    font-size: 12px;
    line-height: 13px;
  }
}

.course__prepayment-price {
  margin: 6px 0 9px 0;
  font-family: "HelveticaNeue", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  color: #1B002F;
}

@media (max-width: 768px) and (min-width: 321px)  {
  .course__prepayment-price  {
    margin: 3px 0 11px 0;
    font-size: 22px;
    line-height: 24px;
  }
}

.course__btn {
  width: 100%;
  height: 66px;
  margin: 12px 0 0 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #E10000;
}

@media (max-width: 768px) and (min-width: 321px)  {
  .course__btn  {
    height: 40px;
    margin: 5px 0 0 0;
    border-radius: 5px;
  }
}

.course__btn-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;

}

.course__btn-text {
  width: 174px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media (max-width: 768px) and (min-width: 321px)  {
  .course__btn-text  {
    width: 102px;
    font-size: 8px;
    line-height: 11px;
  }
}

.main__present {
  position: relative;
  /*max-width: 1105px;*/
  margin: 92px 0 94px 0;
}

@media (max-width: 768px)  {
  .main__present  {
    /*max-width: 678px;*/
    margin: 37px 0;
  }
}
@media (max-width: 320px) {
  .main__present {
    /*max-width: 266px;*/
    margin: 35px 0;
  }
}

.main__present-img {
  max-width:100%;
  height:auto;
}
